.backgroundColor{
    background-color: #3A6BB7
}

.backgroundColor2{
    background-color: #12255B
}

.Apropos{
    background-color: white;
    border:#3A6BB7 ;
    border-radius: 30px;
    height: 30px;
}

footer{
    background-color:#12255B ;
    color: white;
    font-size: small;
}

#data{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
}

#graphe{
    display:grid;
    width:400px;
    grid-template-rows: 80% 20%;
    grid-template-columns: 100%;
    grid-row-gap: 5%;
}

#graphique{
    border-radius: 15px;
    border-color: #12255B;
    border-width: 10px;
    border-style:line;
}

#Bouton_JSM{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    grid-template-rows: 50px;
    grid-template-columns: 100px 100px 100px; 
}


.button{
    border-radius: 30px;
    border-color:#12255B ;
    width: 120%;
    background-color: white;
    font-weight: bold;
    color:#12255B ;
}