.backgroundColor{
    background-color: #3A6BB7;
}


#nom{
    height:100%; 
    font-size: 35px; 
    color:white;
    text-align: center;
}

#nomPatient{
    background-color: #12255B;
    border-style: solid;
    border-color: #12255B;
    width: 300px;  
    border-radius: 60px;
    color:aliceblue;
    margin-left:10%
}

.identity{
    margin-top:10px;
    margin-left: 8%;
}

#infosPatient{
    background-color: #12255B;
    border-style: solid;
    border-color: #12255B;
    width: auto; 
    border-radius: 60px;
    color:aliceblue;
    margin-left:10%;
    margin-right:10%;
    padding-top:1%;
    padding-bottom:1%;
}

#birth{
    display: inline;
    margin-left: 5%;
}

#weight{
    display: inline;
    margin-left: 8%;
    margin-right: 20%;
}

#Age{
    display: inline;
    margin-left: 5%;
    margin-right: 8%;
}

#Aim{
    display: inline;
}

#modifPatient{
    margin-top: -8%;
    border-radius: 50px; 
    background-color: #99AEE9;
    margin-left:90%;
}

#bouton_modif{
    color: white;
}

#alert{
    margin-top: 2em; 
    width: 30em; 
    background-color: red; 
    box-shadow: 2px 2px 2px black; 
    padding: 8px 12px; 
    margin-left: auto; 
    margin-right: auto;
    border-radius: 30px;
}
#data{
    display:flex;
    flex-direction:row;
    align-items: center;
    flex-grow:1;
    justify-content:space-around;
    margin-top: 3em;
}

svg{
    color:white;
}

#mauvaise_hyd{
    align-self:center;
    text-align: center;
    transform: translateY(+50%);
    color: white;
    font-size: 20px;
}

#green_alert{
    display:none;
    width: 18em; 
    background-color: green; 
    box-shadow: 2px 2px 2px black; 
    padding: 8px 12px; 
    margin: auto; 
    border-radius: 30px
}

#bonne_hyd{
    align-self:center;
    text-align:center;
    transform:translateY(+50%);
    color: white;
    font-size: 20px;
}

#progress1{
    margin:auto; 
    --bs-progress-bg: #3A6BB7 !important; 
    border-width: 4px !important; 
    border-color: white !important; 
    height: 200px; 
    width: 200px; 
    transform: rotate(-90deg);
}

#progress2{
    background:linear-gradient(green,yellow,red); 
    --bs-gutter-x: 0rem !important;
}

#verre{
    text-align: center;
}

.mot{
    color: white;
    font-weight: bold;
}

.mot2{
    border-radius: 20px;
    background-color: white;
    width: 100%;
    font-weight: bold;
    color: #12255B;
    font-size: x-large;

}

#graphe{
    display:grid;
    width:400px;
    grid-template-rows: 80% 20%;
    grid-template-columns: 100%;
    grid-row-gap: 5%;
}

#graphique{
    border-radius: 15px;
    border-color: #12255B;
    border-width: 10px;
    border-style:line;
}

#Bouton_JSM{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    grid-template-rows: 50px;
    grid-template-columns: 100px 100px 100px; 
}

.button{
    border-radius: 30px;
    border-color:#12255B ;
    width: 150%;
    background-color: white;
    font-weight: bold;
    color:#12255B ;
}

#btn{
    margin-top:10px; 
    margin-bottom:10px;
}

.bbox1{
    margin-right: 5%;
}

.button:hover{
    background-color: #12255B;
    color: white;
}

.infoUtil {
    color: lightgray;
    font-weight: bold;
    font-size: 35px;
    text-align: center;

}

.changeUtil {
    border: solid;
    border-color: #12255B;
    border-radius: 30px;
    margin-left: 20%;
    margin-right: 20%;
}

.validInfo {
    background-color: #12255B;
    color: white;
    border-radius: 30px;
    border:none;
    height: 30px;
    justify-content:center;
}

.changeTextUtil {
    margin-left: 20%;
    margin-right: 20%;
}

.padding {
    padding-bottom: 2em;
    color:white
}

#civilite{
    padding-top:1em;
    display: flex;
    justify-content: space-between;
}

input[type=radio] {
    border: 6px solid black;
}

label,
input {
    border-radius: 30px;
    border:none;
    padding-left: 0;
    padding-right: 25px;
    text-align: right;
}

input[type=date]:invalid::-webkit-datetime-edit {
    color: #999;
}

::placeholder{
    color:#999;
}

i {
    right: 0;
    
}

#valid_btn{
    justify-content: space-around;
    display: flex;
}

.infoUtil {
    color: lightgray;
    font-weight: bold;
    font-size: 35px;
    text-align: center;

}

.changeUtil {
    border: solid;
    border-color: #12255B;
    border-radius: 30px;
    margin-left: 20%;
    margin-right: 20%;
}

.validInfo {
    background-color: #12255B;
    color: white;
    border-radius: 30px;
    border:none;
    height: 30px;
}

.changeTextUtil {
    margin-left: 20%;
    margin-right: 20%;
}

.padding {
    padding-bottom: 2em;
    color:white
}

input[type=radio] {
    border: 6px solid black;
}

label,
input {
    border-radius: 30px;
    border:none;
    padding-left: 0;
    padding-right: 25px;
    text-align: right;
}

input[type=date]:invalid::-webkit-datetime-edit {
    color: #999;
}

::placeholder{
    color:#999;
}

i {
    right: 0;
    
}





