.backgroundColor{
    background-color: #3A6BB7
}

.backgroundColor2{
    background-color: #12255B
}

.Apropos{
    background-color: white;
    border:#3A6BB7 ;
    border-radius: 30px;
    height: 30px;
}