.backgroundColor{
    background-color: #3A6BB7
}

.backgroundColor2{
    background-color: #12255B
}

.Apropos{
    background-color: white;
    border:#3A6BB7 ;
    border-radius: 30px;
    height: 30px;
}

footer{
    background-color:#12255B ;
    color: white;
    font-size: small;
}

#data{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
}

#graphe{
    display:grid;
    grid-template-rows: 80% 20%;
    grid-template-columns: 100%;
    grid-row-gap: 5%;
    margin: 0 auto;
}

#graphique{
    border-radius: 15px;
}

#Bouton_JSM{
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 100px 100px 100px; 
}

.button{
    border-radius: 30px;
    width: 25%;
    border:none;
    background-color: white;
    font-weight: bold;
    color:#12255B ;
}

.button:hover{
    background-color: #12255B;
    color: white;
}

.infoUtil {
    color: lightgray;
    font-weight: bold;
    font-size: 35px;
    text-align: center;

}

.changeUtil {
    border: solid;
    border-color: #12255B;
    border-radius: 30px;
    margin-left: 20%;
    margin-right: 20%;
}

.validInfo {
    background-color: #12255B;
    color: white;
    border-radius: 30px;
    border:none;
    height: 30px;
}

.changeTextUtil {
    margin-left: 20%;
    margin-right: 20%;
}

.padding {
    padding-bottom: 2em;
    color:white
}

input[type=radio] {
    border: 6px solid black;
}

label,
input {
    border-radius: 30px;
    border:none;
    padding-left: 0;
    padding-right: 25px;
    text-align: right;
}

input[type=date]:invalid::-webkit-datetime-edit {
    color: #999;
}

::placeholder{
    color:#999;
}
i {
    right: 0;
    
}

